
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Main page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>

<body>
	<div id="main">
		<div class="layout">
			<div class="layout--header">
				<div class="topbar -violet visible-md-block visible-lg-block">
					<div class="container">
						<div class="row">
							<div class="col-md-3">

							</div>
							<div class="col-md-9">
								<div class="topbar--right">
									<div class="follow_us">
										<strong>Follow us</strong>
										<ul>
											<li><a href="https://www.facebook.com/investosureofficial/"><i class="fa fa-facebook"></i></a></li>
											<li><a href="https://www.linkedin.com/company/investosure/"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /topbar_contacts-->
							</div>
						</div>
					</div>
				</div>
				<header class="header">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="#"><img src="../../static/assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_violet"></i>
													<strong>0 (987) 310-2732</strong>
													<span>Monday-Saturday, 8am - 8pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_violet"></i>
													<strong>info@investosure.com</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_violet"></i>
													<strong>C32, Kaushambi</strong>
													<span>Ghaziabad, IN-201010</span>
												</div>
											</div>
										</div>
										<button class="button -blue_light -bordered -menu_size"><span class="button--inner">Contact Us</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<ul class="menu">
								<li class="menu-item current-menu-item"><a href="#">Home</a></li>
								<li class="menu-item">
									<a href="about.html">About</a>
									<!-- submenu-->
								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Services</a>

								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Stories</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/201.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>What it takes to learn text text</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/202.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to invest in a sma...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/203.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>8 ways to start saving t...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/204.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to become rich</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All News</span></a>
										</div>
									</div>
								</li>
								<li class="menu-item"><a href="career.html">Careers<span class="menu-item-notify">Internships</span></a></li>
								<li class="menu-item"><a href="contact.html">Contact</a></li>

							</ul>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
				<header class="header header_sticky">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="#"><img src="../../static/assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_violet"></i>
													<strong>0 (987) 310-2732</strong>
													<span>Monday-Saturday, 8am - 8pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_violet"></i>
													<strong>info@investosure.com</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_violet"></i>
													<strong>C32, Kaushambi</strong>
													<span>Ghaziabad, IN-201010</span>
												</div>
											</div>
										</div>
										<button class="button -blue_light -bordered -menu_size"><span class="button--inner">Contact Us</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<ul class="menu">
								<li class="menu-item current-menu-item"><a href="#">Home</a></li>
								<li class="menu-item">
									<a href="about.html">About</a>
									<!-- submenu-->
									<ul class="sub-menu">
										<li class="menu-item"><a href="#">Page 1</a></li>
										<li class="menu-item"><a href="#">Page 2</a></li>
										<li class="menu-item menu-item-has-children">
											<a href="#">Page 3</a>
											<ul class="sub-menu">
												<li class="menu-item"><a href="#">Page 1</a></li>
												<li class="menu-item menu-item-has-children">
													<a href="#">Page 2</a>
													<ul class="sub-menu">
														<li class="menu-item"><a href="#">Page 1</a></li>
														<li class="menu-item"><a href="#">Page 2</a></li>
														<li class="menu-item"><a href="#">Page 4</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Services</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-diamond"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Accounting</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-umbrella"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Finance Aid</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-online-support"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Worldwide Support</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-overtime"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Planning Events</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-reviewer"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Finance Planning</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-business"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Consulting</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-currency-exchange"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Money Transfers</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-training"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Professional Training</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-idea"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Idea Generation</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-coins"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Consulting</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-customer-support"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Online Support</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item -icon">
															<span class="mega_nav--item_icon icons8-lifebuoy"></span>
															<dl class="mega_nav--item_body">
																<dt><strong>Additional Help</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All Services</span></a>
										</div>
									</div>
								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">News</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/201.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>What it takes to learn text text</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/202.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to invest in a sma...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/203.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>8 ways to start saving t...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/204.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to become rich</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/205.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>Financial market is gro...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/206.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>Best Finance Managing...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/207.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>Finance is a core thing i...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/208.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>The less you spent...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/209.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>In 2016 industry will d...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/210.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to increase your sa...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/211.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>Spend less than you earn</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/212.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>Investment opportu...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All News</span></a>
										</div>
									</div>
								</li>
								<li class="menu-item"><a href="#">Careers<span class="menu-item-notify">Internships</span></a></li>
								<li class="menu-item"><a href="#">Contact</a></li>
								<li class="menu-item menu-item-search">
									<form action="#" class="header_search js-header_search">
										<button type="button" class="header_search--opener js-header_search--opener"><i class="icons8-search"></i></button>
										<fieldset class="header_search--dropdown js-header_search--dropdown">
											<input type="text" placeholder="SEARCH" />
										</fieldset>
									</form>
								</li>
							</ul>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
			</div>
			<div class="layout--container">
				<section class="promo_slider">
					<div class="promo_slider--slides js-promo_slider">
						<div class="promo_slider--slide">
							<div class="video">
								<div class="video--content">
									<div class="slide_simple -backgroundless">
										<div class="slide_simple--container">
											<div class="container">
												<div class="col-sm-10 col-sm-offset-1">
													<h1 class="slide_simple--title">WHO ARE WE?</h1>
													<p class="slide_simple--text">
														We are a group of people looking to make investing fun and affordable to help you realize all your goals.
													</p>
													<div class="slide_simple--buttons">
														<button class="button -red -arrowed -large"><span class="button--inner">Browse Services</span></button>

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="video--background">
									<div class="video--background_placeholder" style="background-image: url(assets/images/content/slide.jpg)"></div>
									<div class="video--background_color"></div>
									<div data-video-youtube='{"videoId":"LSmgKRx5pBo"}' class="video--background_video"></div>
								</div>
							</div>
						</div>
						<div class="promo_slider--slide">
							<div class="slide_simple" style="background-image: url(assets/images/content/slide.jpg)">
								<div class="slide_simple--container">
									<div class="container">
										<div class="col-sm-10 col-sm-offset-1">
											<h1 class="slide_simple--title">HOW WE WORK</h1>
											<p class="slide_simple--text">
												Our team evaluates all your financial goals and needs to suggest you the best investment plans.
											</p>
											<div class="slide_simple--buttons">
												<button class="button -red -arrowed -large"><span class="button--inner">Browse Services</span></button>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="promo_slider--slide">
							<div class="slide_simple" style="background-image: url(assets/images/content/slide.jpg)">
								<div class="slide_simple--container">
									<div class="container">
										<div class="col-sm-10 col-sm-offset-1">
											<h1 class="slide_simple--title">WHAT WE DO</h1>
											<p class="slide_simple--text">
												We understand your financial goals to help you find and invest in the best financial products.
											</p>
											<div class="slide_simple--buttons">
												<button class="button -red -arrowed -large"><span class="button--inner">Browse Services</span></button>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="promo_slider--slide">
							<div class="slide_simple" style="background-image: url(assets/images/content/slide.jpg)">
								<div class="slide_simple--container">
									<div class="container">
										<div class="col-sm-10 col-sm-offset-1">
											<h1 class="slide_simple--title">WHY CHOOSE US</h1>
											<p class="slide_simple--text">
												We strive to find the best possible plans for you. And being second, we strive hard to be the first by helping you chose your dreams.
											</p>
											<div class="slide_simple--buttons">
												<button class="button -red -arrowed -large"><span class="button--inner">Browse Services</span></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
											</div>
					<div class="promo_slider_nav">
						<div class="container">
							<div class="js-promo_slider_nav">
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-idea"></i>
										<strong class="promo_slider_nav--item_title">Who We Are</strong>
										<p class="promo_slider_nav--item_description"></p>
									</div>
								</div>
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-center-direction"></i>
										<strong class="promo_slider_nav--item_title">How We Work</strong>
										<p class="promo_slider_nav--item_description"></p>
									</div>
								</div>
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-debt"></i>
										<strong class="promo_slider_nav--item_title">What We Do</strong>
										<p class="promo_slider_nav--item_description"></p>
									</div>
								</div>
								<div class="promo_slider_nav--slide">
									<div class="promo_slider_nav--item">
										<i class="promo_slider_nav--item_icon icons8-talk"></i>
										<strong class="promo_slider_nav--item_title">Why Choose Us</strong>
										<p class="promo_slider_nav--item_description"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Why We are better?</h2>
							<p class="section--description">
								Financial products are the best financial investments. But, it also means it is difficult to find the best.
								<br> This is where we come in.
							</p>
						</div>
						<div class="section--container">
							<div class="features">
								<div class="row">
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="features_item">
											<figure class="features_item--media"><img src="../../static/assets/images/content/features/f01.jpg" alt=""></figure>
											<h3 class="features_item--title">Deep financial analysis</h3>
											<p class="features_item--text">
												We deeply understand your financial status to find you the best financial products.
											</p>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="features_item">
											<figure class="features_item--media"><img src="../../static/assets/images/content/features/f02.jpg" alt=""></figure>
											<h3 class="features_item--title">Regular Support</h3>
											<p class="features_item--text">
												We have a 24 x 7 helpline, where you can contact anytime for any help on your investments
											</p>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="features_item">
											<figure class="features_item--media"><img src="../../static/assets/images/content/features/f03.jpg" alt=""></figure>
											<h3 class="features_item--title">Regular Updates on-your-investment</h3>
											<p class="features_item--text">
												We ensure that you get regular updates on your investments.
											</p>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="features_item">
											<figure class="features_item--media"><img src="../../static/assets/images/content/features/f04.jpg" alt=""></figure>
											<h3 class="features_item--title">News updates</h3>
											<p class="features_item--text">
												We constantly put up news items from the depths of financial industry to ensure, you stay updated.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="promo_detailed">
					<div class="promo_detailed--container">
						<div class="container">
							<div class="row">
								<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
									<ul class="promo_detailed--list">
										<li class="promo_detailed--list_item">
											<span class="promo_detailed--list_item_icon">
												<i class="icons8-sales-performance"></i>
											</span>
											<dl>
												<dt>Understanding your financial capabilities</dt>
												<dd>
													Our team spends enough time, understanding you financial goals and capabilities.

												</dd>
											</dl>
										</li>
										<li class="promo_detailed--list_item">
											<span class="promo_detailed--list_item_icon">
												<i class="icons8-sell-property"></i>
											</span>
											<dl>
												<dt>Matching with various financial products</dt>
												<dd>
													Based on our understanding of various financial products and your financial status, we match it with your requirements

												</dd>
											</dl>
										</li>
										<li class="promo_detailed--list_item">
											<span class="promo_detailed--list_item_icon">
												<i class="icons8-idea-bank"></i>
											</span>
											<dl>
												<dt>Getting you the final product</dt>
												<dd>
													When we are done, we suggest you the best financial products, that you can invest in for the best results

												</dd>
											</dl>
										</li>
									</ul>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="promo_detailed--cta">
										<div class="promo_detailed--cta_wrap">
											<div class="promo_detailed--cta_text">
												We follow the best of the market policies to give you the best product
											</div>
											<div class="promo_detailed--cta_footer">
												<button class="button -red -large -arrowed"><span class="button--inner">Learn More</span></button>
											</div>
										</div>
										<figure class="promo_detailed--cta_background_image"></figure>
									</div>
								</div>
							</div>
						</div>
					</div>
					<figure class="promo_detailed--background_image"></figure>
				</div>
				<hr class="section_divider">
				<section class="section">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Services</h2>
							<p class="section--description">
								Find Out the details about what we offer
								<br> Here is a list of services that we offer
							</p>
						</div>
						<div class="section--container">
							<div class="services">
								<div class="row">
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="service_item">
											<i class="service_item--icon icons8-diamond"></i>
											<h3 class="service_item--title">Insurance Policies</h3>
											<div class="service_item--text">
												<p>Our partnership with various insurances, ensure that we are not biased on a particular plan</p>
											</div>
											<footer class="service_item--footer"><a href="#" class="link -blue_light">Learn More</a></footer>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="service_item">
											<i class="service_item--icon icons8-reviewer"></i>
											<h3 class="service_item--title">Finance Planning</h3>
											<div class="service_item--text">
												<p>Since, we understand your finances, we suggest you the best financial plans that you can buy</p>
											</div>
											<footer class="service_item--footer"><a href="#" class="link -blue_light">Learn More</a></footer>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="service_item">
											<i class="service_item--icon icons8-umbrella"></i>
											<h3 class="service_item--title">Hedge Funds</h3>
											<div class="service_item--text">
												<p><b>TO BE ADDED</b></p>
											</div>
											<footer class="service_item--footer"><a href="#" class="link -blue_light">Learn More</a></footer>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="service_item">
											<i class="service_item--icon icons8-business"></i>
											<h3 class="service_item--title">Consulting</h3>
											<div class="service_item--text">
												<p>Not only helping you find the best financial products now, we suggest you on using the old products as well.</p>
											</div>
											<footer class="service_item--footer"><a href="#" class="link -blue_light">Learn More</a></footer>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="promo_banner section -paddingless -centered">
					<div class="promo_banner--container">
						<div class="container">
							<h2 class="promo_banner--title">We’re ready to work with you</h2>
							<p class="promo_banner--text">
								We are here to clear all your problems about managing your finances, getting the correct financial products, and help you reach all your financial goals.
							</p>
							<footer class="promo_banner--footer">
								<button class="button -blue_light -arrowed -large"><span class="button--inner">Contact Us</span></button>
							</footer>
						</div>
					</div>
				</section>

				<div class="section -pattern -light">
					<div class="contacts">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-phone color_viking"></i>
										<strong class="contact_card--title">Contact Us</strong>
										<p class="contact_card--text">Feel free to call us on <br> <strong>0 (987) 310-2732</strong> <br> Monday - Saturday, 8am - 7pm</p>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-message color_viking"></i>
										<strong class="contact_card--title">Our Email</strong>
										<p class="contact_card--text">Drop us a line anytime at <br> <strong><a href="mailto:info@investosure.com">info@investosure.com</a>,</strong> <br> and we’ll get back soon.</p>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-geo-fence color_viking"></i>
										<strong class="contact_card--title">Our Address</strong>
										<p class="contact_card--text">Come visit us at <br> <strong>C 32, Kaushambi</strong> <br> Ghaziabad, IN-201010</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="layout--footer">
				<footer class="footer -deluge">
					<div class="footer--bg"></div>
					<div class="footer--inner">
						<div class="container">

							<section class="footer_copyrights">
								<div class="footer_copyrights--container">
									<div class="row">
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<div class="footer_copyrights--logo">
													<a href="#"><img src="../../static/assets/images/design/logo-header.png" alt="" /></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<p class="footer_copyrights--item_copyrights">InvestoSure ©2017. All Rights Reserved.</p>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>

	<script src="../../static/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="../../static/assets/libs/Headhesive.js/dist/headhesive.min.js"></script>
	<script src="../../static/assets/libs/slideout.js/dist/slideout.min.js"></script>
	<link rel="stylesheet" href="../../static/assets/libs/magnific-popup/dist/magnific-popup.css">
	<script src="../../static/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="../../static/assets/libs/youtubeBackground.min/build/jquery.youtubebackground.min.js"></script>
	<script src="../../static/assets/libs/vide/dist/jquery.vide.min.js"></script>
	<script src="../../static/assets/libs/social-sharing-buttons/social-buttons.js"></script>
	<link rel="stylesheet" href="../../static/assets/libs/social-sharing-buttons/social-buttons.css">
	<script src="../../static/assets/libs/mixitup/build/jquery.mixitup.min.js"></script>
	<script src="../../static/assets/libs/isMobile/isMobile.min.js"></script>
	<script src="../../static/assets/libs/isInViewport/lib/isInViewport.min.js"></script>
	<script src="../../static/assets/libs/progressbar.js/dist/progressbar.min.js"></script>
	<script src="../../static/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="../../static/assets/libs/tabby/dist/js/tabby.min.js"></script>
	<script src="../../static/assets/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script src="../../static/assets/libs/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
	<script src="../../static/assets/libs/blueimp-file-upload/js/jquery.fileupload.js"></script>
	<script src="../../static/assets/libs/slick-carousel/slick/slick.min.js"></script>
	<link rel="stylesheet" href="../../static/assets/libs/slick-carousel/slick/slick.css">
	<script src="../../static/assets/scripts/main.js"></script>
</body>

</html>
