<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>About Us | InvestoSure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>

<body>
	<div id="main">
		<div class="layout">
			<div class="layout--header">
				<div class="topbar -pickled visible-md-block visible-lg-block">
					<div class="container">
						<div class="row">
							<div class="col-md-3">

							</div>
							<div class="col-md-9">
								<div class="topbar--right">
									<div class="follow_us">
										<strong>Follow us</strong>
										<ul>
											<li><a href="https://www.facebook.com/investosureofficial/"><i class="fa fa-facebook"></i></a></li>
											<li><a href="https://www.linkedin.com/company/investosure/"><i class="fa fa-linkedin"></i></a></li>
											</ul>
									</div>
								</div>
								<!-- /topbar_contacts-->
							</div>
						</div>
					</div>
				</div>
				<header class="header">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="#"><img src="./assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_wild_blue"></i>
													<strong>0 (987) 310-2732</strong>
													<span>Monday-Saturday, 8am - 8pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_wild_blue"></i>
													<strong>info@investosure.com</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_wild_blue"></i>
													<strong>C-32 Kaushambi</strong>
													<span>Ghaziabad, IN-201010</span>
												</div>
											</div>
										</div>
										<button class="button -waikawa_gray -bordered -menu_size"><span class="button--inner">Contact Us</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -violet -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<ul class="menu">
								<li class="menu-item"><a href="main.html">Home</a></li>
								<li class="menu-item current-menu-item"><a href="about_us.html">About</a></li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Services</a>
								</li>

								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Stories</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/201.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>What it takes to learn text text</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/202.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to invest in a sma...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/203.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>8 ways to start saving t...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/204.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to become rich</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All News</span></a>
										</div>
									</div>
								</li>
								<li class="menu-item"><a href="#">Careers<span class="menu-item-notify">Internships</span></a></li>
								<li class="menu-item"><a href="#">Contact</a></li>

							</ul>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
				<header class="header header_sticky">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="#"><img src="./assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_wild_blue"></i>
													<strong>0 (987) 310-2732</strong>
													<span>Monday-Friday, 8am - 8pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_wild_blue"></i>
													<strong>info@investosure.com</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_wild_blue"></i>
													<strong>C-32, Kaushambi</strong>
													<span>Ghaziabad, IN-201010</span>
												</div>
											</div>
										</div>
										<button class="button -waikawa_gray -bordered -menu_size"><span class="button--inner">Contact Us</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -violet -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<ul class="menu">
								<li class="menu-item"><a href="main.html">Home</a></li>
								<li class="menu-item current-menu-item">
									<a href="about_us.html">About</a>
									<!-- submenu-->

								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Services</a>
								</li>

								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Stories</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/201.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>What it takes to learn text text</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/202.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to invest in a sma...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/203.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>8 ways to start saving t...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="./assets/images/content/mega_nav/204.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to become rich</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All Stories</span></a>
										</div>
									</div>
								</li>
								<li class="menu-item"><a href="#">Careers<span class="menu-item-notify">Internships</span></a></li>
								<li class="menu-item"><a href="#">Contact</a></li>

							</ul>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
			</div>
			<div class="layout--container">
				<div class="page_header">
					<div class="container">
						<h1 class="page_header--title">About Us</h1>
					</div>
				</div>
				<nav class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs--list">
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link">Home</a></li>
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link -active">About</a></li>
						</ul>
					</div>
				</nav>
				<section class="section">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Our Company</h2>
							<p class="section--description">
								We are here to find you the best financial products, so that you can really reach your financial potential and reach your goals.
							</p>
						</div>

						<div class="section--container">
							<div class="our_company">
								<div class="row">
									<div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_company--text">
											<h3>What you should know about us</h3>
											<p>
												Financial products are something everyone is aware of. It is really common to see the family insurance agents selling insurances of various insurance companies and the bank managers suggesting hundreds of various investment plans. Such a bombardment of people selling you hundreds of policies means that you dont know the best policy for you!.
											</p>
											<p>
												This is where we come in. We understand the problems that come in, when we think about financial products. That is why, we do a deep analysis of your financial requirements and goals, to help you find the best financial products out there, and provide you lifetime support to ensure you dont face any problem anywhere.
											</p>
										</div>
									</div>
									<div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_company--quote">
											<div class="row">
												<div class="col-md-6">
													<figure class="our_company--quote_media"><img src="./assets/images/content/our_team/o_c01.jpg" alt=""></figure>
												</div>
												<div class="col-md-6">
													<blockquote class="our_company--quote_text">
														Phasellus molestie ut odio nec pulvinar. Donec phetra lorem sit amet felis volutpat, et masuada justo blandit. Nullm ialis quam et nisi suscipit, vel vecula tortor molestie etiam vestulum aliquet.
													</blockquote>
													<div class="our_company--quote_author"><strong>Michael Stevenson</strong><span>CEO, Financed Company</span></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<hr class="section_divider -narrow">
				<section class="section">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Our Mission</h2>
							<p class="section--description">
								We pride ourselves in deeply understanding your financial goals and requirements, and suggesting you the best financial products and services, that you can invest in.
							</p>
						</div>
						<div class="section--container">
							<div class="our_mission">
								<div class="row">
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f02.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Variability</h3>
											<div class="our_mission--item_body">
												<p>
													A variety of products to suit your financial requirements.
												</p>
												<!--<ul>
													<li>Etdui neciunc</li>
													<li>Donec efficitur</li>
													<li>Proin at nisi</li>
												</ul>-->
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f03.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Responsibility</h3>
											<div class="our_mission--item_body">
												<p>
													We will be responsible to help you make the best investments of your money.
												</p>
												<!--<ul>
													<li>Class aptent taciti</li>
													<li>Vestibulum sit</li>
													<li>Lorem ipsum dolor</li>
												</ul>-->
											</div>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f04.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Honesty</h3>
											<div class="our_mission--item_body">
												<p>
													We will be honest with our suggestions as we put our clients above our interests.
												</p>
												<!--<ul>
													<li>Fusce sollicitudin</li>
													<li>Duis volutpat</li>
													<li>Vivamus placat sapien</li>
												</ul>-->
											</div>
										</div>
									</div>
									<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="our_mission--item">
											<div class="figure our_mission--item_media"><img src="./assets/images/content/features/f01.jpg" alt=""></div>
											<h3 class="our_mission--item_title">Reliability</h3>
											<div class="our_mission--item_body">
												<p>
													With us suggesting you the financial products, you can lose the tensions in our hands.
												</p>
												<!--<ul>
													<li>Proinsal at nisima</li>
													<li>Lorem ipsum dolor</li>
													<li>Donec efficitur</li>
												</ul>-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section -pattern -light">
					<div class="container">
						<div class="section--header">
							<h2 class="section--title">Our Team</h2>
							<p class="section--description">
								We are a team of enthusiastic people, looking to better the financial investments sector of the country, so that everyone can enjoy the real potential of their finances.
							</p>
						</div>
						<div class="section--container">
							<div class="team">
								<div class="row">
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/001.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Aayush Chandgothia</h3>
												<span class="team_member--position">The jugaadu guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/002.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Vikash Singh</h3>
												<span class="team_member--position">Finance guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/003.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Mayank Prasoon</h3>
												<span class="team_member--position">Marketing and Product guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/004.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Madhur Pandey</h3>
												<span class="team_member--position">The ops guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="clearfix visible-sm-block"></div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/005.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Priyankar</h3>
												<span class="team_member--position">The HR guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/006.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Aaditya Sridharan</h3>
												<span class="team_member--position">The everything guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/006.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Surendra Meena</h3>
												<span class="team_member--position">The tech guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-4 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
										<div class="team_member">
											<figure class="team_member--image"><img src="./assets/images/content/our_team/006.jpg" alt=""></figure>
											<div class="team_member--body">
												<h3 class="team_member--name">Abhay Shakyawar</h3>
												<span class="team_member--position">The management guy</span>
												<ul class="team_member--links">
													<li><a href="#"><span class="fa fa-facebook"></span></a></li>
													<li><a href="#"><span class="fa fa-twitter"></span></a></li>
													<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
													<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="section -pattern -light">
					<div class="contacts">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-phone color_waikawa"></i>
										<strong class="contact_card--title">Contact Us</strong>
										<p class="contact_card--text">Feel free to call us on <br> <strong>0 (987) 310-2732</strong> <br> Monday - Saturday, 8am - 7pm</p>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-message color_waikawa"></i>
										<strong class="contact_card--title">Our Email</strong>
										<p class="contact_card--text">Drop us a line anytime at <br> <strong><a href="mailto:info@investosure.com">info@investosure.com</a>,</strong> <br> and we’ll get back soon.</p>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-geo-fence color_waikawa"></i>
										<strong class="contact_card--title">Our Address</strong>
										<p class="contact_card--text">Come visit us at <br> <strong>C-32, Kaushambi</strong> <br>Ghaziabad, IN-201010</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layout--footer">
				<footer class="footer">
					<div class="footer--bg"></div>
					<div class="footer--inner">
						<div class="container">
							<section class="footer_copyrights">
								<div class="footer_copyrights--container">
									<div class="row">
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<div class="footer_copyrights--logo">
													<a href="#"><img src="./assets/images/design/logo-footer.png" alt="" /></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<p class="footer_copyrights--item_copyrights">InvestoSure ©2017. All Rights Reserved.</p>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
	<div id="mobile_sidebar" class="mobile_sidebar">
		<div class="mobile_sidebar--closer -white">
			<button class="c-hamburger c-hamburger--htx is-active"><span>toggle menu</span></button>
		</div>
		<div class="mobile_menu">
			<ul class="menu">
				<li class="menu-item"><a href="#">ABOUT</a></li>
				<li class="menu-item menu-item-has-children">
					<a href="#">SERVICES</a>
					<ul class="sub-menu">
						<li class="menu-item menu-item-has-children">
							<a href="#">CASE STUDIES</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="#">CASE STUDIES</a></li>
								<li class="menu-item"><a href="#">BLOG</a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="#">BLOG</a></li>
					</ul>
				</li>
				<li class="menu-item"><a href="#">CAREERS</a></li>
				<li class="menu-item"><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<!-- topbar_contacts-->
		<ul class="topbar_contacts -mobile_sidebar">
			<li class="topbar_contacts--item"><span class="contact_phone"><i class="icons8-phone"></i>0 (987) 310-2732</span></li>
			<li class="topbar_contacts--item"><span class="contact_email"><i class="icons8-message"></i><a href="#">info@investosure.com</a></span></li>
			<li class="topbar_contacts--item"><span class="contact_quote"><i class="icons8-talk"></i><a href="#">Contact Us</a></span></li>
		</ul>
		<!-- /topbar_contacts-->
		<!-- follow us-->
		<div class="follow_us -mobile_sidebar">
			<strong>Follow us</strong>
			<ul>
				<li><a href="https://www.facebook.com/investosureofficial/"><i class="fa fa-facebook"></i></a></li>
			</ul>
		</div>
		<!-- /follow us-->
		<div class="mobile_sidebar--buttons">
			<button class="button -waikawa_gray">Contact Us</button>
		</div>
	</div>

		<script src="../../static/assets/libs/jquery/dist/jquery.min.js"></script>
		<script src="../../static/assets/libs/Headhesive.js/dist/headhesive.min.js"></script>
		<script src="../../static/assets/libs/slideout.js/dist/slideout.min.js"></script>
		<link rel="stylesheet" href="../../static/assets/libs/magnific-popup/dist/magnific-popup.css">
		<script src="../../static/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
		<script src="../../static/assets/libs/youtubeBackground.min/build/jquery.youtubebackground.min.js"></script>
		<script src="../../static/assets/libs/vide/dist/jquery.vide.min.js"></script>
		<script src="../../static/assets/libs/social-sharing-buttons/social-buttons.js"></script>
		<link rel="stylesheet" href="../../static/assets/libs/social-sharing-buttons/social-buttons.css">
		<script src="../../static/assets/libs/mixitup/build/jquery.mixitup.min.js"></script>
		<script src="../../static/assets/libs/isMobile/isMobile.min.js"></script>
		<script src="../../static/assets/libs/isInViewport/lib/isInViewport.min.js"></script>
		<script src="../../static/assets/libs/progressbar.js/dist/progressbar.min.js"></script>
		<script src="../../static/assets/libs/select2/dist/js/select2.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="../../static/assets/libs/tabby/dist/js/tabby.min.js"></script>
		<script src="../../static/assets/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
		<script src="../../static/assets/libs/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
		<script src="../../static/assets/libs/blueimp-file-upload/js/jquery.fileupload.js"></script>
		<script src="../../static/assets/libs/slick-carousel/slick/slick.min.js"></script>
		<link rel="stylesheet" href="../../static/assets/libs/slick-carousel/slick/slick.css">
		<script src="../../static/assets/scripts/main.js"></script>

</body>

</html>
