<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Careers | InvestoSure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,400italic,600italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>

<body>
	<div id="main">
		<div class="layout">
			<div class="layout--header">
				<div class="topbar -violet visible-md-block visible-lg-block">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="topbar--left">
								</div>
							</div>
							<div class="col-md-9">
								<div class="topbar--right">
									<div class="follow_us">
										<strong>Follow us</strong>
										<ul>
											<li><a href="https://www.facebook.com/investosureofficial/"><i class="fa fa-facebook"></i></a></li>
											<li><a href="https://www.linkedin.com/company/investosure/"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /topbar_contacts-->
							</div>
						</div>
					</div>
				</div>
				<header class="header">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="#"><img src="../../static/assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_violet"></i>
													<strong>0 (987) 310-2732</strong>
													<span>Monday-Saturday, 8am - 8pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_violet"></i>
													<strong>info@investosure.com</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_violet"></i>
													<strong>C-32, Kaushambi,</strong>
													<span>Ghaziabad, IN-201010</span>
												</div>
											</div>
										</div>
										<button class="button -blue_light -bordered -menu_size"><span class="button--inner">Call Us</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -violet -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<ul class="menu">
								<li class="menu-item"><a href="main.html">Home</a></li>
								<li class="menu-item">
									<a href="about_us.html">About</a>
									<!-- submenu-->

								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Services</a>

								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Stories</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/201.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>What it takes to learn text text</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/202.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to invest in a sma...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/203.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>8 ways to start saving t...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/204.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to become rich</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All News</span></a>
										</div>
									</div>
								</li>
								<li class="menu-item current-menu-item"><a href="#">Careers<span class="menu-item-notify">Intenships</span></a></li>
								<li class="menu-item"><a href="#">Contact</a></li>
							</ul>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
				<header class="header header_sticky">
					<div class="container">
						<div class="header--inner">
							<div class="row">
								<div class="col-lg-2 col-md-12">
									<div class="header--logo logo">
										<a href="#"><img src="../../static/assets/images/design/logo-header.png" alt="" /></a>
									</div>
								</div>
								<div class="col-lg-10 col-md-12 visible-md-block visible-lg-block">
									<div class="header--right">
										<div class="header_contacts">
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-phone color_violet"></i>
													<strong>0 (987) 310-2732</strong>
													<span>Monday-Saturday, 8am - 8pm</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-message color_violet"></i>
													<strong>info@investosure.com</strong>
													<span>Drop us a line anytime!</span>
												</div>
											</div>
											<div class="header_contacts--item">
												<div class="contact_mini">
													<i class="contact_mini--icon icons8-geo-fence color_violet"></i>
													<strong>C-32, Kaushambi,</strong>
													<span>Ghaziabad, IN-201010</span>
												</div>
											</div>
										</div>
										<button class="button -blue_light -bordered -menu_size"><span class="button--inner">Get a Quote</span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="header_nav -violet -wide visible-md-block visible-lg-block">
						<div class="header_nav--inner">
							<ul class="menu">
								<li class="menu-item"><a href="main.html">Home</a></li>
								<li class="menu-item">
									<a href="about_us.html">About</a>
								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Services</a>

								</li>
								<li class="menu-item menu-item-has-mega-menu">
									<a href="#">Stories</a>
									<div class="mega-menu">
										<div class="mega_nav">
											<div class="container">
												<div class="row">
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/201.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>What it takes to learn text text</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/202.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to invest in a sma...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/203.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>8 ways to start saving t...</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
													<div class="col-md-3 col-xs-4">
														<a href="#" class="mega_nav--item">
															<figure class="mega_nav--item_image"><img src="../../static/assets/images/content/mega_nav/204.jpg" alt="" /></figure>
															<dl class="mega_nav--item_body">
																<dt><strong>How to become rich</strong></dt>
																<dd>Ut vitae eros ipsum supe ut vitae eros ipsum supe</dd>
															</dl>
														</a>
													</div>
												</div>
											</div>
											<a href="#" class="mega_nav--open_all"><span>All News</span></a>
										</div>
									</div>
								</li>
								<li class="menu-item current-menu-item"><a href="#">Careers<span class="menu-item-notify">Internships</span></a></li>
								<li class="menu-item"><a href="#">Contact</a></li>

							</ul>
						</div>
					</nav>
					<div class="header--menu_opener visible-xs-block visible-sm-block">
						<span class="c-hamburger c-hamburger--htx">
							<span>toggle menu</span>
						</span>
					</div>
				</header>
			</div>
			<div class="layout--container">
				<div class="page_header">
					<div class="container">
						<h1 class="page_header--title">Careers</h1>
					</div>
				</div>
				<nav class="breadcrumbs">
					<div class="container">
						<ul class="breadcrumbs--list">
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link">Home</a></li>
							<li class="breadcrumbs--item"><a href="#" class="breadcrumbs--link -active">Careers</a></li>
						</ul>
					</div>
				</nav>
				<section class="section">
					<div class="container">
						<div class="section--container">
							<div class="careers">
								<div class="row">
									<div class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1">
										<div class="careers--articles">
											<h3 class="careers--subtitle">Why Work For Us?</h3>
											<div class="careers_articles">
												<div class="careers_article">
													<i class="careers_article--icon icons8-dumbbell"></i>
													<h3 class="careers_article--title">Work Based Incentives</h3>
													<div class="careers_article--text">
														<p>
															At InvestoSure, it is not just about fixed salaries but more about your work.
														</p>
													</div>
												</div>
												<div class="careers_article">
													<i class="careers_article--icon icons8-historic-ship"></i>
													<h3 class="careers_article--title">Learning Opportunities</h3>
													<div class="careers_article--text">
														<p>
															InvestoSure allows you the best learning opportunities about various finance products.
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-9 col-md-offset-0 col-xs-10 col-xs-offset-1">
										<h3 class="careers--subtitle">We Are Looking For:</h3>
										<div class="careers--vacancies">
											<div class="vacancies js-accordion">
												<div class="vacancies--item js-accordion--pane">
													<h4 class="vacancies--item_title js-accordion--pane_opener">Sales and Marketing Intern</h4>
													<div class="vacancies--item_content js-accordion--pane_content">
														<h5>Job Description</h5>
														<p>
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sagittis venenatis massa eu tempus. Integer eu enim diam. In vitae vulputate metus, ac dapibus turpis. Vivamus consequat mauris aliquet tellus feugiat accumsan. Nam tincidunt dolor vel auctor
															imperdiet. Duis egestas ut ante eget fermentum. Donec eget elit eget urna mattis sagittis eu eget dui. Phasellus quis tortor nec nisi rhoncus condimentum tempor eu leo. Suspendisse at cursus risus.
														</p>
														<p>
															Integer eleifend quis nunc a lobortis. Sed non nibh quis enim varius semper eget vitae lectus. Ut nibh sem, laoreet ac mauris eu, auctor semper diam. Duis nec laoreet est. Duis eget scelerisque magna. Etiam id ligula id libero semper tempus. Sed vestibulum
															urna a eleifend ultrices. Integer blandit vehicula consequat. Fusce ac bibendum ex. Fusce eget neque magna. Cras facilisis, odio at tincidunt accumsan, ex nibh commodo est, non posuere mauris elit a orci. Praesent a nisl et diam aliquet
															lacinia. Aliquam risus sem, accumsan at magna sed, laoreet accumsan est. Aliquam tincidunt rhoncus eros, a ornare massa mollis ac. Ut ut augue id ante malesuad efficitur et at ligula. Nulla rutrum hendrerit aliquet.
														</p>
														<p>
															Nullam odio nulla, scelerisque venenatis cursus in, pretium sit amet nibh. Donec nec diam sit amet erat fermentum molestie non viverra lacus. Etiam eu leo vel risus interdum efficitur. Donec tristique elementum nulla, non tristique nisi varius ut. Sed
															et elit viverra, accumsan arcu eget, posuere enim. Integer eleifend quis nunc a lobortis. Sed non nibh quis enim varius semper eget vitae lectus. Ut nibh sem, laoreet ac mauris eu, auctor semper diam. Duis nec laoreet est. Duis eget scelerisque
															magna. Etiam id ligula id libero semper tempus
														</p>
														<h5>Requirements</h5>
														<ul>
															<li>Lacus ornare id. In porttitor nec mi eget posuere.</li>
															<li>Vestibulum fringilla hendrerit sapien vitae elementum.</li>
															<li>Nunc vehicula velit quis accumsan pharetra.</li>
														</ul>
														<h5>Please, send your CV to <a href="mailto:careers@investosure.com">careers@investosure.com</a></h5>
													</div>
												</div>
												<div class="vacancies--item js-accordion--pane">
													<h4 class="vacancies--item_title js-accordion--pane_opener">Financial Consultant intern</h4>
													<div class="vacancies--item_content js-accordion--pane_content">
														<h5>Job Description</h5>
														<p>
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sagittis venenatis massa eu tempus. Integer eu enim diam. In vitae vulputate metus, ac dapibus turpis. Vivamus consequat mauris aliquet tellus feugiat accumsan. Nam tincidunt dolor vel auctor
															imperdiet. Duis egestas ut ante eget fermentum. Donec eget elit eget urna mattis sagittis eu eget dui. Phasellus quis tortor nec nisi rhoncus condimentum tempor eu leo. Suspendisse at cursus risus.
														</p>
														<p>
															Integer eleifend quis nunc a lobortis. Sed non nibh quis enim varius semper eget vitae lectus. Ut nibh sem, laoreet ac mauris eu, auctor semper diam. Duis nec laoreet est. Duis eget scelerisque magna. Etiam id ligula id libero semper tempus. Sed vestibulum
															urna a eleifend ultrices. Integer blandit vehicula consequat. Fusce ac bibendum ex. Fusce eget neque magna. Cras facilisis, odio at tincidunt accumsan, ex nibh commodo est, non posuere mauris elit a orci. Praesent a nisl et diam aliquet
															lacinia. Aliquam risus sem, accumsan at magna sed, laoreet accumsan est. Aliquam tincidunt rhoncus eros, a ornare massa mollis ac. Ut ut augue id ante malesuad efficitur et at ligula. Nulla rutrum hendrerit aliquet.
														</p>
														<p>
															Nullam odio nulla, scelerisque venenatis cursus in, pretium sit amet nibh. Donec nec diam sit amet erat fermentum molestie non viverra lacus. Etiam eu leo vel risus interdum efficitur. Donec tristique elementum nulla, non tristique nisi varius ut. Sed
															et elit viverra, accumsan arcu eget, posuere enim. Integer eleifend quis nunc a lobortis. Sed non nibh quis enim varius semper eget vitae lectus. Ut nibh sem, laoreet ac mauris eu, auctor semper diam. Duis nec laoreet est. Duis eget scelerisque
															magna. Etiam id ligula id libero semper tempus
														</p>
														<h5>Requirements</h5>
														<ul>
															<li>Lacus ornare id. In porttitor nec mi eget posuere.</li>
															<li>Vestibulum fringilla hendrerit sapien vitae elementum.</li>
															<li>Nunc vehicula velit quis accumsan pharetra.</li>
															<li>Vestibulum fringilla hendrerit sapien vitae elementum.</li>
															<li>Nunc vehicula velit quis accumsan pharetra.</li>
														</ul>
														<h5>Please, send your CV to <a href="mailto:careers@investosure.com">careers@investosure.com</a></h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="section -pattern -light">
					<div class="contacts">
						<div class="container">
							<div class="row">
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-phone color_waikawa"></i>
										<strong class="contact_card--title">Contact Us</strong>
										<p class="contact_card--text">Feel free to call us on <br> <strong>0 (987) 310-2732</strong> <br> Monday - Saturday, 8am - 7pm</p>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-message color_waikawa"></i>
										<strong class="contact_card--title">Our Email</strong>
										<p class="contact_card--text">Drop us a line anytime at <br> <strong><a href="mailto:info@investosure.com">info@investosure.com</a>,</strong> <br> and we’ll get back soon.</p>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-0 col-xs-10 col-xs-offset-1">
									<div class="contact_card">
										<i class="contact_card--icon icons8-geo-fence color_waikawa"></i>
										<strong class="contact_card--title">Our Address</strong>
										<p class="contact_card--text">Come visit us at <br> <strong>C-32, Kaushambi</strong> <br>Ghaziabad, IN-201010</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layout--footer">
				<footer class="footer">
					<div class="footer--bg"></div>
					<div class="footer--inner">
						<div class="container">
							<section class="footer_copyrights">
								<div class="footer_copyrights--container">
									<div class="row">
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<div class="footer_copyrights--logo">
													<a href="#"><img src="../../static/assets/images/design/logo-header.png" alt="" /></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6 col-xs-12">
											<div class="footer_copyrights--item">
												<p class="footer_copyrights--item_copyrights">Investosure ©2017. All Rights Reserved.</p>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
	<div id="mobile_sidebar" class="mobile_sidebar">
		<div class="mobile_sidebar--closer -white">
			<button class="c-hamburger c-hamburger--htx is-active"><span>toggle menu</span></button>
		</div>
		<div class="mobile_menu">
			<ul class="menu">
				<li class="menu-item"><a href="#">ABOUT</a></li>
				<li class="menu-item menu-item-has-children">
					<a href="#">SERVICES</a>
					<ul class="sub-menu">
						<li class="menu-item menu-item-has-children">
							<a href="#">CASE STUDIES</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="#">CASE STUDIES</a></li>
								<li class="menu-item"><a href="#">BLOG</a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="#">BLOG</a></li>
					</ul>
				</li>
				<li class="menu-item"><a href="#">CAREERS</a></li>
				<li class="menu-item"><a href="#">CONTACT US</a></li>
			</ul>
		</div>
		<!-- /select language-->
		<!-- topbar_contacts-->
		<ul class="topbar_contacts -mobile_sidebar">
			<li class="topbar_contacts--item"><span class="contact_phone"><i class="icons8-phone"></i>0 (987) 310-2732</span></li>
			<li class="topbar_contacts--item"><span class="contact_email"><i class="icons8-message"></i><a href="#">info@investosure.com</a></span></li>
			<li class="topbar_contacts--item"><span class="contact_quote"><i class="icons8-talk"></i><a href="#">Get a Quote</a></span></li>
		</ul>
		<!-- /topbar_contacts-->
		<!-- follow us-->
		<div class="follow_us -mobile_sidebar">
			<strong>Follow us</strong>
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>
		</div>
		<!-- /follow us-->
		<div class="mobile_sidebar--buttons">
			<button class="button -waikawa_gray">Get a Quote</button>
		</div>
	</div>
	<script src="../../static/assets/libs/jquery/dist/jquery.min.js"></script>
	<script src="../../static/assets/libs/Headhesive.js/dist/headhesive.min.js"></script>
	<script src="../../static/assets/libs/slideout.js/dist/slideout.min.js"></script>
	<link rel="stylesheet" href="../../static/assets/libs/magnific-popup/dist/magnific-popup.css">
	<script src="../../static/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="../../static/assets/libs/youtubeBackground.min/build/jquery.youtubebackground.min.js"></script>
	<script src="../../static/assets/libs/vide/dist/jquery.vide.min.js"></script>
	<script src="../../static/assets/libs/social-sharing-buttons/social-buttons.js"></script>
	<link rel="stylesheet" href="../../static/assets/libs/social-sharing-buttons/social-buttons.css">
	<script src="../../static/assets/libs/mixitup/build/jquery.mixitup.min.js"></script>
	<script src="../../static/assets/libs/isMobile/isMobile.min.js"></script>
	<script src="../../static/assets/libs/isInViewport/lib/isInViewport.min.js"></script>
	<script src="../../static/assets/libs/progressbar.js/dist/progressbar.min.js"></script>
	<script src="../../static/assets/libs/select2/dist/js/select2.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="../../static/assets/libs/tabby/dist/js/tabby.min.js"></script>
	<script src="../../static/assets/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
	<script src="../../static/assets/libs/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
	<script src="../../static/assets/libs/blueimp-file-upload/js/jquery.fileupload.js"></script>
	<script src="../../static/assets/libs/slick-carousel/slick/slick.min.js"></script>
	<link rel="stylesheet" href="../../static/assets/libs/slick-carousel/slick/slick.css">
	<script src="../../static/assets/scripts/main.js"></script>
</body>

</html>
